@tailwind base;
@tailwind components;
@tailwind utilities;

/* font faces */
@font-face {
  font-family: "IRAN";
  src: url("../fonts/IRAN.woff2") format("woff2"),
    url("../fonts/IRAN.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IRAN";
  src: url("../fonts/IRAN_SemiBold.woff2") format("woff2"),
    url("../fonts/IRAN_SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "IRAN";
  src: url("../fonts/IRANBlack.woff2") format("woff2"),
    url("../fonts/IRANBlack.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "IRAN";
  src: url("../fonts/IRANBold.woff2") format("woff2"),
    url("../fonts/IRANBold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

body {
  font-family: "IRAN", sans-serif !important;
}

/* variables */
:root {
  /* color variables */
  --primary25: #e35556;
  --primary50: #dc3941;
  --primary75: #d4002b;
  --primary100: #b80024;
  --primary200: #dc3941;

  --black: #0c0c0c;
  --white: #ffffff;

  --gray50: #f9f9f9;
  --gray100: #f6f6f6;
  --gray200: #ededed;
  --gray300: #cbcbcb;
  --gray400: #b4b4b4;
  --gray500: #9e9e9e;
  --gray600: #717171;
  --gray700: #505050;
  --gray800: #444444;
  --gray900: #2d2d2d;

  /* font style variables for max-width: 768*/
  --R8: 8px;
  --R10: 10px;
  --R12: 12px;
  --R14: 14px;
  --R16: 16px;
  --B8: 8px;
  --B10: 10px;
  --B12: 12px;
  --B14: 14px;
  --B16: 16px;
  --B40: 40px;

  /* break points */
  /* max-width */
  --sm: 768px;
  --md: 991px;
  /* min-width */
  --lg: 992px;
}

.bg-gray100 {
  background-color: var(--gray100);
}

.bg-gray300 {
  background-color: var(--gray300);
}

.bg-brand-primary {
  background-color: var(--primary75);
}

.text-14B {
  font-size: var(--B14);
}

.border-gray-slider {
  border: var(--gray500) 2px solid;
}

.border-gray300 {
  border: 2px solid var(--gray300);
}

.text-gray500 {
  color: var(--gray500);
}
.text-gray700 {
  color: var(--gray700);
}

.searchBoxText {
  color: var(--gray600);
}

.searchBoxZias {
  color: var(--primary75);
}

.searchBox {
  background-color: var(--gray200);
}

.border-btns {
  border: 1px solid var(--primary100);
}

.container {
  width: 90%;
  text-align: center;
  margin: auto;
}

/* banner component styles */
.banner {
  background-color: var(--primary75);
}

/* header component styles */
.zias {
  font-size: var(--B40);
  font-weight: bold;
  color: var(--primary75);
}

/* slider component styles */
.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--gray300);
}

.circle.active {
  width: 12px;
  height: 8px;
  border-radius: 15px;
  background-color: var(--gray700);
}

.divider {
  border: 1px solid var(--gray500);
}

.divider-sm {
  width: 100px;
  border: 1px solid var(--primary75);
}

/* see more btn component styles */
.btn-seeMore {
  width: 75px;
  height: 25px;
  background-color: var(--white);
  color: var(--primary200);
  border: 1px solid var(--primary200);
  border-radius: 5px;
  font-size: var(--R10);
}

/* global.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.activeProduct {
  height: 260px !important;
}
